{
  "extends": ["plugin:prettier/recommended"],

  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": "error",
    // "linebreak-style": 0,
    "linebreak-style": ["error", "windows"]
  }
}
